<!-- 这个是用户主页的模板文件 -->
<!DOCTYPE html>
<html>

<head>
    <title>
        用户页面
    </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        body {
            padding: 60px 0px 0px 40px;
            background-color: #79cece;
        }
    </style>
</head>

<body>
    <div class='container'>
        <h2>欢迎来到HelloNodeJS 用户页面</h2>
        <hr/>
        <h3><span>我的用户名是：<%= username %></span></h3>
    
    </div>
</body>

</html>