<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>恭喜终于登录成功了</h1>
    <h1><%= title %></h1>
    <p>这是我的测试 <%= title %></p>
  </body>
</html>
