<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    body {
      padding: 60px 0 40px 0;
      background-color: #c6e8dd
    }
    
    .myUl {.
      width: 100%
    }
    
    .myUl li {
      text-align: center;
      width: 32%;
      margin-right: 10px;
      background-color: #D6E8FA;
      list-style-type: none;
      float: left;
      min-height: 350px
    }
    
    .myUl li p {
      color: #000000;
      font-size: 25px;
      font-weight: bold;
    }
    
    .myUl li label {
      text-indent: 20px;line-height:20px;font-family:'簡體'
    }
  </style>
</head>

<body>
  <container>
    <div class='container'>
      <div class='hero-unit'>
        <h1>Hello NodeJS!</h1>
        <p>NodeJS学习 准备使用NodeJs做一个留言板网站 数据库MongoDB 期间看能否使用下Less或者Sass</p>
        <p><a href='' class='btn btn-primary btn-large'>立即登录</a><a href='' class='btn btn-info btn-large'>马上注册</a></p>
      </div>
      <ul class='myUl'>
        <li>
          <p>佛說</p>
          <label>
            人有八苦，生苦，老苦，病苦，死苦，怨憎会苦，爱别离苦，求不得苦，五蕴炽盛苦。唯有身心放空，方能人离难，难离身，一切灾殃化为尘
            心净则国土净，我们要时常保护心念，不要被贪瞋痴等毒害侵袭；更要积极救护世界，不要让暴力充斥社会，让灾难破坏家园、污染大地
            世间万物皆空。唯其空，便能包容万物。
            每一滴水都是海。人因有自我，便产生了痛苦！由自我的观点产生了过去、未来，产生了好、坏、顺、逆，人一直活在企盼与欲望中。当小我消失变成无我时，那滴海水即溶入了海洋而得到了自在
            当你快乐时，你要想，这快乐不是永恒的。当你痛苦时你要想这痛苦也不是永恒。
          </label>
        </li>
        <li>
          <p>眾生</p>
          <label>
            「眾生」是佛教的一個重要概念，它表述了佛教關於人類與其他生命物種、人與自然之間關係的基本觀點。在它的視野中，人類與其他的生命物種之間沒有高下、貴賤之分——「一切眾生平等」。而佛教的一系列戒律便是這一「眾生平等」的具體落實。從今天的生態倫理角度來看，這種戒律實際上建立起了一種敬畏生命、善待萬物的生活方式。這與西方思想中以居高臨下的人類中心主義心態來看待、處理人類與其他生命物種關係導致的結果不同，至少佛教的思想與實踐起到了平衡生態系統、保護生態環境的積極作用，對當今社會的生態倫理和環境思想具有重要的借鑒意義
          </label>
        </li>
        <li>
          <p>皆平等</p>
          <img src='imgs/images.jpg' />
        </li>
      </ul>
    </div>
  </container>
</body>

</html>