<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- 引用bootstrapcdn资源 -->    
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> <!-- 页面头部区域 header.ejs -->
    <div class="well jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div> <!--页面主体部分区域 index.ejs -->
     <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html><!-- 页面页脚部区域 footer.ejs -->
